.leafler-popup .leafler-popup-content-wrapper {
}
.leafler-popup .leafler-popup-tip-container {
}
.leaflet-container a.leaflet-popup-close-button {
}
.leaflet-popup {
  bottom: 15px !important;
}

.leaflet-marker-icon {
  background-color: #148be9;
  border-radius: 10px;
  cursor: pointer;
}

.leaflet-container .leaflet-marker-pane img {
  padding: 8px;
}
