body {
  overflow: hidden;
}

.leaflet-popup {
  bottom: 15px !important;
}

.leaflet-marker-icon {
  background-color: #148be9;
  border-radius: 10px;
  cursor: pointer;
}

.leaflet-container .leaflet-marker-pane img {
  padding: 8px;
}
.leaflet-popup-content p {
  margin: 0 !important;
  margin-bottom: 0.5rem !important;
}
